<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>엔지니어 선택</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <script src="/js/selectAll.js"></script>
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body>

<div class="mb-3"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <h5 class="mb-1 text-gray-600">엔지니어 선택</h5>
            <div class="card shadow mb-4">
                <div class="card-body">
                    <form>
                        <div class="form-check mb-2" th:each="engineer : ${engineerList}">
                            <input class="form-check-input" id="radioSolution1" type="radio" name="product"
                                   th:value="${engineer.getEmp_name()}">
                            <label class="form-check-label" th:text="${engineer.getEmp_name()}"></label>
                        </div>
                    </form>
                </div>
                <!--솔루션 card-body-->
            </div>
            <div class="col text-center">
                <input type="button" class="btn btn-primary" value="확인">
            </div>
        </div>
        <!--col-lg-8-->
    </div>
    <!--row-->
</div>
<!--container-fluid-->
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; raonsecure 2021</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
</body>
</html>
