<!DOCTYPE HTML>
<html>
<head>
    <title>솔루션 & 고객사 담당자 선택</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <script src="/js/selectAll.js"></script>
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body>

<div class="mb-3"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <h5 class="mb-1 text-gray-600">솔루션 선택</h5>
            <div class="card shadow mb-4">
                <div class="card-body">
                    <form>
                        <div class="form-check mb-2">
                            <input class="form-check-input" id="radioSolution1" type="radio" name="product"
                                   value="Key# Biz">
                            <label class="form-check-label" for="radioSolution1">Key# Biz</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" id="radioSolution2" type="radio" name="product"
                                   value="Key# Wireless">
                            <label class="form-check-label" for="radioSolution2">Key# Wireless</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" id="radioSolution3" type="radio" name="product"
                                   value="Key# nxCR">
                            <label class="form-check-label" for="radioSolution3">Key# nxCR</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" id="radioSolution4" type="radio" name="product"
                                   value="TouchEn TransKey">
                            <label class="form-check-label" for="radioSolution4">TouchEn TransKey</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" id="radioSolution5" type="radio" name="product"
                                   value="TouchEn mTransKey Web">
                            <label class="form-check-label" for="radioSolution5">TouchEn mTransKey Web</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" id="radioSolution6" type="radio" name="product"
                                   value="TouchEn mTransKey CS">
                            <label class="form-check-label" for="radioSolution6">TouchEn mTransKey CS</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" id="radioSolution7" type="radio" name="product"
                                   value="TouchEn mVaccine Web">
                            <label class="form-check-label" for="radioSolution7">TouchEn mVaccine Web</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" id="radioSolution8" type="radio" name="product"
                                   value="TouchEn mVaccine CS">
                            <label class="form-check-label" for="radioSolution8">TouchEn mVaccine CS</label>
                        </div>
                    </form>
                </div>
                <!--솔루션 card-body-->
            </div>
            <!--솔루션 card shadow mb-4-->
            <h5 class="mb-1 text-gray-600">고객사 선택</h5>
            <div class="card shadow mb-4">
                <div id="checkList" class="card-body">
                </div>
                <!--솔루션 card-body-->
            </div>
            <!--고객사 card shadow mb-4-->
            <div class="mb-3 justify-content-center">
                <input type="button" id="btn-check" class="btn text-center text-primary" value="확인">
            </div>
        </div>
        <!--col-lg-8-->
    </div>
    <!--row-->
</div>
<!--container-fluid-->
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; raonsecure 2021</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/select.js"></script>
</body>
</html>
