<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>보안기술2팀 - 고객사 현황 관리 </title>
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/tables">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">보안기술2팀</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/tables">
                    <i class="fas fa-fw fa-table"></i>
                    <span>프로젝트</span></a>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="/customer">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>고객사 정보</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/engineer">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>엔지니어 정보</span></a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="/sales">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>영업 정보</span></a>
            </li>
            <!-- Nav Item - Charts -->
            <li class="nav-item">
            <a class="nav-link" href="/solution">
                <i class="fas fa-fw fa-folder"></i>
                <span>솔루션 정보</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mail">
                    <i class="fas fa-fw fa-mail-bulk"></i>
                    <span>메일 배포</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lookup">
                    <i class="fas fa-fw fa-mail-bulk"></i>
                    <span>메일 전송 기록</span></a>
            </li>

                   <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="raon" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">라온시큐어</span>
                                <img class="img-profile rounded-circle"
                                    src="/img/RAON_box_ci-12.png">
                            </a>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">고객사 현황 관리</h1>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">프로젝트 기술지원</h6>
                        </div>
                        <div class="card-body">
                        <!--    <a href="#" class="btn btn-primary btn-icon-split btn-sm">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                <span class="text">프로젝트 등록</span>
                            </a>
                            <a href="#" class="btn btn-danger btn-icon-split btn-sm">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                <span class="text">프로젝트 삭제</span>
                            </a>-->
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>프로젝트 코드</th>
                                            <th>프로젝트명</th>
                                            <th>고객사명</th>
                                            <th>담당영업</th>
                                            <th>유지보수 시작일</th>
                                            <th>유지보수 만료일</th>
                                            <th>담당SE</th>
                                        </tr>
                                    </thead>
<!--                                     <tfoot> -->
<!--                                         <tr> -->
<!--                                             <th>Name</th> -->
<!--                                             <th>Position</th> -->
<!--                                             <th>Office</th> -->
<!--                                             <th>Age</th> -->
<!--                                             <th>Start date</th> -->
<!--                                             <th>Salary</th> -->
<!--                                         </tr> -->
<!--                                     </tfoot> -->
                                    <tbody>
                                        <tr th:onclick="main.trClick(this.getAttribute('data-pjtcode')
                                        ,this.getAttribute('data-customer_no')
                                        ,this.getAttribute('data-empno')
                                        ,this.getAttribute('data-customer_name')
                                        ,this.getAttribute('data-projectname'))"
                                            th:each="pjt : ${pjList}"
                                            th:data-pjtcode="${pjt.getProject_code()}"
                                            th:data-customer_no="${pjt.getCustomer_no()}"
                                            th:data-customer_name="${pjt.getCustomer_name()}"
                                            th:data-empno="${pjt.getEmpno()}"
                                            th:data-projectname="${pjt.getProject_name()}">
                                            <td th:text="${pjt.getProject_code()}"></td>
                                            <td th:text="${pjt.getProject_name()}"></td>
                                            <td th:text="${pjt.getCustomer_name()}"></td>
                                            <td th:text="${pjt.getSales_name()}"></td>
                                            <td th:text="${pjt.getStart_date()}"></td>
                                            <td th:text="${pjt.getEnd_date()}"></td>
                                            <td th:text="${pjt.getEmp_name()}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
                <div id="detail" name="detail" style="display:none" class="container-fluid">

                <div class="row">
                    <div class="col-lg-8">
                        <!-- Change password card-->
                        <div class="card mb-4">
                            <div class="card-header">프로젝트 정보</div>
                            <div class="card-body">
                                <form>
                                    <!-- Form Group (current password)-->
                                    <div class="mb-3">
                                        <label class="small mb-1" for="pjtcode">프로젝트 코드</label>
                                        <input value="PJ2000406" class="form-control" id="pjtcode" type="text" readonly="">
                                    </div>
                                    <div class="mb-3" style="display:none">
                                        <input class="form-control" id="customer_no">
                                    </div>
                                    <div class="mb-3">
                                        <label class="small mb-1" for="customer_name">수요처</label>
                                        <input class="form-control" id="customer_name" placeholder="수요처를 입력하세요.." readonly="">
                                    </div>
                                    <!-- Form Group (confirm password)-->
                                    <div class="mb-3">
                                        <label class="small mb-1" for="project_name">프로젝트 명</label>
                                        <input class="form-control" id="project_name" placeholder="프로젝트 명을 입력하세요.." readonly="">
                                    </div>
                                    <a href="#" class="btn btn-danger btn-circle">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </form>
                            </div>
                        </div>
                        <!-- Security preferences card-->
                        <div class="card mb-4">
                            <div class="card-header">솔루션 [품명]</div>
                            <div class="card-body">
                                <!-- Account privacy optinos-->
                                <form id="solutionList">

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <!-- Two factor authentication card-->
                        <div class="card mb-4">
                            <div class="card-header">고객사 담당자 정보</div>
                            <div class="card-body">
                                <form>
                                    <div class="mb-3">
                                        <label class="small mb-1" for="customer_emp_name">고객사 담당자</label>
                                        <input class="form-control" id="customer_emp_name" type="text" placeholder="고객사 담당자 이름 입력.." value="">
                                    </div>
                                    <div class="mb-3">
                                        <label class="small mb-1" for="mail">E-mail</label>
                                        <input class="form-control" id="mail" type="email" placeholder="고객사 담당자 메일 입력.." value="">
                                    </div>
                                    <div class="mb-3">
                                        <label class="small mb-1" for="pnumber">Phone Number</label>
                                        <input class="form-control" id="pnumber" type="tel" placeholder="고객사 담당자 연락처 입력.." value="545-123-4567">
                                    </div>
                                    <button type="button" class="btn btn-success btn-circle" onclick="main.checkButtonClick()">
                                        <i class="fas fa-check"></i>
                                    </button>
                                    <a href="#" class="btn btn-danger btn-circle">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </form>
                            </div>
                        </div>
                        <!-- Delete account card-->
                        <div class="card mb-4">
                            <div class="card-header">담당 엔지니어</div>
                            <div class="card-body">
                                <div class="mb-3" style="display:none">
                                    <label class="small mb-1" for="empno"></label>
                                    <input class="form-control" id="empno" type="text" placeholder="" value="">
                                </div>
                                <div class="mb-3">
                                    <label class="small mb-1" for="emp_name">이름</label>
                                    <input class="form-control" id="emp_name" type="text" placeholder="" value="" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="small mb-1" for="mail_address">이메일</label>
                                    <input class="form-control" id="mail_address" type="text" placeholder="" value="" readonly>
                                </div>
                                <input class="btn btn-primary text-white" type="button" onclick="main.openSelectEngineer()" value="담당 엔지니어 선택">
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; raonsecure 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>
